name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Code style
        run: |
          cargo fmt
          git --no-pager diff --exit-code
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
