name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Code style
        run: |
          cargo fmt
          git --no-pager diff --exit-code
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
